
//Variables:
$default-font: 'Roboto', sans-serif;
$theme-font: 'Monda', sans-serif;
$title-font: 'Russo One', sans-serif;
$cmd-font: 'Inconsolata', monospace;
$cmd-txt-color: #FFEA00;


body{
  font-family: $theme-font;
  background-color: black;
  color: white;

}

.title{
  font-family: $title-font;
  font-size: 65px;
  margin: 20px;
  text-align: center;
}

#footer{
  position: absolute;
  bottom: 0;
}

input{
  font-family: $cmd-font;
  background-color: black;
  color: $cmd-txt-color;
  text-align: left;
  width: 100%;
  display: block;
  border:0;
  font-size: 20px;
}

#intro{
  padding: 20px;
}
.cmdLine{
  float: right;
  width: 95%;
  display: block;
}

//Consider mixing

//#code{style="z-index: auto; position: relative; line-height: normal; font-size: 12px; transition: none; background: transparent !important;width:500px;height:200px;padding:20px"}
#code{
  text-align: left;
}
.btns{
  margin: 20px;
}