
//Variables:
$default-font: 'Roboto', sans-serif;
$theme-font: 'Monda', sans-serif;
$title-font: 'Russo One', sans-serif;
$cmd-font: 'Inconsolata', monospace;
$cmd-txt-color: #FFEA00;


body{
  font-family: $theme-font;
  background-color: black;
  color: white;
  text-align: center;
}

.title{
  font-family: $title-font;
  font-size: 65px;
  margin: 20px;
}

#footer{
  position: absolute;
  bottom: 0;
}

input{
  font-family: $cmd-font;
  background-color: black;
  color: $cmd-txt-color;
  text-align: left;
  width: 100%;
  display: block;
  border:0;
  font-size: 20px;
}

#intro{
  padding: 20px;
}
.cmdLine{
  float: right;
  width: 95%;
    display: block;
}