
<!DOCTYPE html>
<html>
<head>
  	<title>Word Cloud</title>
  	
  	<script type="text/javascript" src="wordCloud.js"s></script>
</head>

<body>

	<!--
<link rel="stylesheet" href="wordCloud.css" type="text/css">
	<div id="cloud_container">
		<div class="cloud_word cloud_word1">Word1</div>
		<div class="cloud_word cloud_word2">Word2</div>
		<div class="cloud_word cloud_word3">Word3</div>
		<div class="cloud_word cloud_word4">Word4</div>
		<div class="cloud_word cloud_word5">Word5</div>
		<div class="cloud_word cloud_word6">Word6</div>
	</div>-->

	<div id="displaytext">Enter Words</div>

	<div id="form_container">
		<input id="text_field" maxlength="20" size="8" type="text">
		<input id="submit_btn" type="submit" value="Submit" onClick="submit()">
	</div>
</body>
</html>


